@media (max-width: 991px) {
    .container {
        max-width: 650px;
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 15px;
            font-weight: 500;
        }
    }
    .button {
        height: 25px;
        width: 125px;
        font-size: 10px;
        &_main {
            width: 225px;
            height: 40px;
        }
        &_submit {
            width: 100%;
            height: 45px;
            border-radius: 5px;
            color: #fff;
            font-size: 15px;
        }
        &_mini {
            width: 131px;
            height: 40px;
            font-size: 14px;
        }
    }
    .promo {
        min-height: 481px;
        padding-bottom: 45px;
        &__wrapper {
            margin-top: 45px;
        }
        &__header {
            font-size: 35px;
            line-height: 35px;
        }
        &__subheader {
           margin-top: 15px;
           font-size: 21px;
           line-height: 21px;
        }
        &__icons{
        margin-top: 35px;
        width: 425px;
        display: flex;
        justify-content: space-between;
        }
        &__icon {
            width: 100px;
            text-align: center;
            color: #ffffff; 
            font-size: 12px;
            font-weight: 500;
            img {
                width: 40px;
            };
        }
        &__link {
            font-size: 12px;
            margin-top: 18px;
            text-align: center;
        }
    }    
    .advantage {
        min-height: 400px;
        padding: 33px 0 41px 0;
        h1 {
            font-size: 27px;
        }
        &__item {
            width: 180px;
            font-size: 12px;
            line-height: 16px;
            img {
                height: 60px;
                width: 60px;
                margin-top: 40px;
            }
            span {
                margin-top: 25px;
                font-size: 15px;
            }
            a {
                color:  red;
                text-transform: uppercase;
                text-decoration: underline;
            }
        }
    }
    .consultation {
        min-height: 480px;
        padding: 70px 0 62px 0;
        &__descr {
            font-size: 16px;
        }
    }
    .title {
            &_left {
                font-size: 24px;
            }
        font-size: 24px;
    }
    
    .feed-form {
        margin-top: 30px;
        input {
            height: 40px;
            margin-bottom: 15px;
            &:nth-child(3) {
                margin-bottom: 15px;
            }
        }
    }

    .carousel {
        &__inner {
            width: 591px;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            margin: 0;
            padding: 0;
            margin-top: 10px;
            display: flex !important;
            justify-content: center;
            li {
                /* display: flex; */
                width: 10px;
                height: 10px;
                list-style: none;
                border: none;
                background-color: #d8d8d8;
                border: none;
                margin: 0 10px;
                border-radius: 50%;
                button {
                    display: none;
                }
            }
            .slick-active {
                background-color: $main-color;
            }
        }
    }
    
}

@media (max-width: 767px) {
    .container {
        max-width: 550px;
    }
    .header {
        &__logo {
            width: 150px;
        }
    }
    .promo {
        min-height: 400px;
        padding-bottom: 25px;
        &__wrapper {
            margin-top: 45px;
        }
        &__header {
            font-size: 30px;
            line-height: 30px;
       }
       &__subheader {
           font-size: 18px;
           line-height: 18px;
       }
       &__icons{
        margin-top: 30px;
        width: 300px;
        }

        &__link {
            font-size: 12px;
            margin-top: 18px;
        }
    }    
    .button {
        &_main {
            width: 200px;
            height: 30px;
            margin-top: 30px;
        }
        &_mini {
            width: 120px;
            height: 40px;
            font-size: 14px;
        }
    }
    .advantage {
        min-height: 300px;
        /* padding: 33px 0 41px 0; */
        h1 {
            font-size: 24px;
        }
        &__item {
            width: 150px;
            img {
                height: 50px;
                width: 50px;
                margin-top: 20px;
            }
            span {
                margin-top: 15px;
            }
        }
    } 
    .carousel {
        &__inner {
            width: 500px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &-item {
            width: 270px;
        }
    }

    .footer {
        &__info {
            width: 300px;
            height: 150px;
            padding: 20px 20px 20px 20px;
        }
        &__adr {
            margin-bottom: 16px;
            line-height: 16px;
            font-size: 16px;
        }
        &__phone {
            line-height: 16px;
            font-size: 16px;
            margin-bottom: 28px;
        }
        &__social-item {
            width: 35px;
            height: 35px;
            &:hover {
                opacity: 70%;
            }
            img {
                height: 25px;
                color: #fff;
                filter: invert(100%);
            }
        }
    }
    
}

@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
    .header {
        flex-direction: column;
        min-height: 180px;
        &__logo {
            width: 250px;
        }
        &__official {
            font-size: 12px;
            span {
                font-size: 18px;
            }
        }
        &__phone {
            font-size: 18px;
        }
    }
    
    .promo {
        min-height: 400px;
        padding-bottom: 25px;
        
        &__wrapper {
            margin: 45px 0 0 0;
            display: block;

        }
        &__header {
            font-size: 20px;
            line-height: 20px;
            text-align: center;
       }
       &__subheader {
           font-size: 12px;
           line-height: 12px;
           text-align: center;
           margin-bottom: 0;
       }
       &__icons {
        margin-top: 30px;
        &__icon {
            img {
                display: block;
                margin: 0 auto  ;
                margin-bottom: 20px;
                }
            }
        };
        &__link {
            font-size: 12px;
            margin-top: 18px;
        }
        .button {
            height: 30px;
            width: 150px;
            font-size: 12px;
            &_main {
                display: block;
                width: 200px;
                margin: 0 auto;
                margin-top: 20px;
            }
        }
    }    
    
    .advantage {
        min-height: 300px;
        /* padding: 20px 0 30px 0; */
        h1 {
            font-size: 21px;
        }
        &__items {
            display: block;
        }
        &__item {
            width: 250px;
            text-align: center;
            margin: 0 auto;
            img {
                height: 50px;
                width: 50px;
                margin-top: 20px;
            }
            span {
                margin-top: 15px;
            }
        }
        
    } 

    .consultation {
        min-height: 400px;
        padding: 60px 0 52px 0;
        &__descr {
            font-size: 13px;
        }
    }
    
    .title {
        &_left {
            font-size: 21px;
        }
        font-size: 21px;
    } 
    
    .carousel {
        &__inner {
            width: 300px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        
        &__tabs {
            margin-top: 40px;
            flex-direction: column;
        }
        &__tab {
            margin-top: 10px;
        }
        &__content {
            justify-content: center;
        }
    }
    .review {
        &__item {
            flex-direction: column;
            padding: 32px 0 24px 0;
        }
        &__img {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
            
        }
    }

    .modal {
        &__close {
            position: absolute;
            top: -40px;
            left: 178px;
            /* transform: translateX(-50%); */
        }
    }
}